.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(06, 11, 23, 1)); /* Adjust the gradient colors and opacity as desired */
}
.mybg {
  background-color: #060b23;
}
.herofont {
  font-size: 120px;
}
@media(max-width:575px){
  body{
    width: 100%;
  }
  .herofont {
    font-size:3rem;
    margin:0 auto;
  }
  .mytext {
    
  }
}

.mytext {
  color: #008080;
}
.grayscale-image {
  filter: grayscale(80%);
}
.grayscale-image:hover {
  filter: grayscale(0%);
}
.mycontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; 
}
.mywidth {
  max-width: 20rem;
}

.sliding-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: url("./assets/yulia-matvienko-ArA3S3k0wTU-unsplash.jpg");
  background-size: 300px 300px;
  /* background-repeat: repeat; */
  /* background-position: center; */
  z-index: 0;
  animation: sliding-animation 30s linear infinite; /* Adjust the animation duration as needed */
  /* transform: rotate(45deg); Set the initial rotation angle */
}

@keyframes sliding-animation {
  0% {
    transform: translateX(-100%) rotate(0deg); /* Starting position */
  }
  100% {
    transform: translateX(100%) rotate(0deg); /* Ending position */
  }
}

.grayscale-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.container:hover .grayscale-image {
  filter: grayscale(0%);
}
/* Duplicates */
/* .container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/yulia-matvienko-ArA3S3k0wTU-unsplash.jpg");
  background-size: cover;
  background-position: contain;
  z-index: -1;
  animation: sliding-animation 10s linear infinite reverse; /* Reverse the animation */
  /* transform: rotate(135deg); */
/* } */ */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
