.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(06, 11, 23, 1)); /* Adjust the gradient colors and opacity as desired */
}
.mybg {
  background-color: #060b23;
}
.herofont {
  font-size: 120px;
}
@media(max-width:575px){
  body{
    width: 100%;
  }
  .herofont {
    font-size:3rem;
    margin:0 auto;
  }
  .mytext {
    
  }
}

.mytext {
  color: #008080;
}
.grayscale-image {
  filter: grayscale(80%);
}
.grayscale-image:hover {
  filter: grayscale(0%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
